/* グローバルリセット */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* テキストサイズの調整をリセット */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/* ボディの基本設定 */
body {
  margin: 0;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* デフォルトの余白とパディングを削除 */
ul,
ol,
button,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
time,
small {
  margin: 0;
  padding: 0;
}

/* リストスタイルのリセット */
ul,
ol {
  list-style: none;
}

/* クラスなしのaタグにデフォルトのスタイルを適用 */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* インラインブロック要素 */
a,
span,
button {
  display: inline-block;
}

/* フォントとマージンのリセット */
small,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

address {
  font-style: normal;
}

/* 画像の調整 */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* 記事内の自然な余白を設定 */
article>*+* {
  margin-top: 1em;
}

/* フォーム要素のフォント継承 */
input,
button,
textarea,
select {
  font: inherit;
}

/* フォームのリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;
}

textarea {
  resize: vertical;
}

/* チェックボックスとラジオボタンを非表示 */
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  border: 0;
}

/* ボタンやラベルにカーソルを設定 */
input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

/* IE用の選択ボックスアイコンを非表示 */
select::-ms-expand {
  display: none;
}

/* aタグのスタイルとトランジション */
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

button {
  color: inherit;
}

/* ホバー時のカーソル設定 */
@media (any-hover: hover) {
  a:hover {
    cursor: pointer;
  }
}

/* PCでtelリンクを無効化 */
@media (min-width: 768px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}

/* タップ時のハイライトを透明に設定 */
a {
  -webkit-tap-highlight-color: transparent;
  /* リンクのハイライトを透明に */
}

button {
  -webkit-tap-highlight-color: transparent;
  /* ボタンのハイライトも透明に */
}