@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1240px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 35px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

:root {
  --font-family-base: "YuGothic", "游ゴシック", "Zen Kaku Gothic New", "yu-gothic-pr6n", sans-serif;
  --font-family-second: "Jockey One", sans-serif;
  --font-family-third: "Inter", sans-serif;
}
// ※検証ツールでしっかり反映されているか確認する


// フォントウェイト
:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
}

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
:root {
  --black: #000;
  --white: #fff;
  --text-black: #1E1E1E;
  --main-color: #9E895B;
  --main-black: #585757;
  --main-red: #FE3101;
  --line-color: #ECECEC;
  --gradient-color: linear-gradient(90deg, #2C65FF 0%, #79F890 50%, #FF9 100%);
  --bg-color: #F7F9FB;
}

////////////////////
// z-index
///////////////////

:root {
  --z-index-to-top: 200;
  --z-index-drawer: 100;
  --z-index-header: 1000;
  --z-index-floating-button: 1000;
}

////////////////////
// 余白
///////////////////

:root {
  --section-padding-block: calc(50 / 16 * 1rem);
}
@media (min-width: 767px) {
  :root {
    --section-padding-block: calc(100 / 16 * 1rem);
  }
}

////////////////////
// アニメーション設定
///////////////////

:root {
  --duration-short: 0.2s;
  --duration-base: 0.3s;
  --duration-long: 0.6s;
  --duration-fv: 0.7s;
}

////////////////////
// bodyの指定
////////////////////

body {
  color: var(--text-black);
  font-family: var(--font-family-base);
}