@use "global" as *;
/* ===============================================
# フェードアニメーション：IntersectionObserver＆GSAP用
=============================================== */

/* フェード */
.js-fade-in {
  opacity: 0;
  transition: opacity 2s ease-out;
  
  &.is-active {
    opacity: 1;
  }
}

/* 上方向にスライド */
.js-fade-up {
  opacity: 0;
  translate: 0 50px;
  transition: opacity 1.2s ease-out, translate 1.2s ease-out;
  
  &.is-active {
    opacity: 1;
    translate: 0 0;
  }
}

/* 左方向にスライド */
.js-slide-left {
  opacity: 0;
  translate: -50px 0;
  transition: opacity 1.2s ease-out, translate 1.2s ease-out;
  
  &.is-active {
    opacity: 1;
    translate: 0 0;
  }
}

/* 下方向にスライド */
.js-fade-down {
  opacity: 0;
  translate: 0 -50px;
  transition: opacity 1.2s ease-out, translate 1.2s ease-out;
  
  &.is-active {
    opacity: 1;
    translate: 0 0;
  }
}

/* 右方向にスライド */
.js-slide-right {
  opacity: 0;
  translate: 50px 0;
  transition: opacity 1.2s ease-out, translate 1.2s ease-out;
  
  &.is-active {
    opacity: 1;
    translate: 0 0;
  }
}

//色塗りの状態から出現
.js-color-curtain {
  position: relative;
  width: fit-content;
  clip-path: inset(50%);
  
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #89B564 0%, #1A90BD 100%);
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
  }

  &.is-active {
    animation: 1.2s forwards ease-in-out textView;
    &::after {
      animation: 1.2s forwards ease-in-out colorBox;
    }
  }
}

@keyframes textView {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes colorBox {
  0%, 50% {
    transform-origin: 0 50%;
  }
  60%, 100% {
    transform-origin: 100% 50%;		
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

//画像拡大 -> 縮小
.js-scaleImg {
  overflow: hidden;
  img {
    scale: 1.2;
    transition: scale 1.5s ease, opacity 1.5s ease;
    opacity: 0;
  }
  &.is-active img {
    scale: 1;
    opacity: 1;
  }
}

/* クリップパス */

.js-clip-img {
  overflow: hidden;
  img {
    scale: 1.2;
    transition: scale 1.3s ease, clip-path 1.3s ease;
    clip-path: inset(0 100% 0 0)
  }
  &.is-active img{
    clip-path: inset(0 0 0 0);
    scale: 1;
  }
}

////////////////////
// 遅延時間の指定
////////////////////

:root {
  --delay-1: 0.1s;
  --delay-2: 0.2s;
  --delay-3: 0.3s;
  --delay-4: 0.4s;
}

.--delay-1 {
  transition-delay: var(--delay-1);
}

.--delay-2 {
  transition-delay: var(--delay-2);
}

.--delay-3 {
  transition-delay: var(--delay-3);
}

.--delay-4 {
  transition-delay: var(--delay-4);
}

@media (max-width: 768px) {

  .--delay-1,
  .--delay-2,
  .--delay-3,
  .--delay-4 {
    transition-delay: .2s;
  }
}