@use "global"as *;

.top-solution {
  padding-block: var(--section-padding-block);
  container-type: inline-size;

  @media (max-width: 767px) {
    border-top: 1px solid var(--line-color);
    overflow-x: clip;
  }
}

.top-solution__list {
  margin-top: rem(60);

  @media (max-width: 767px) {
    display: grid;
    gap: rem(30);
  }
}

.top-solution__item {
  @include mq('md') {
    display: grid;
    grid-template-columns: 560fr 550fr;
    padding-right: rem(30);
    gap: rem(100);
    align-items: center;
    padding-block: rem(30);
    border-top: 1px solid var(--line-color);

    &:last-child {
      border-bottom: 1px solid var(--line-color);
    }
  }
}

.top-solution__img-wrap {
  @media (max-width: 767px) {
    margin-inline: calc(50% - 50cqi);
  }
}

.top-solution__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 375/160;

  @include mq('md') {
    aspect-ratio: 560/160;
  }
}

.top-solution__item-body {
  display: flex;
  flex-direction: column;
  gap: rem(13);

  @media (max-width: 767px) {
    margin-top: rem(20);
  }

  @include mq('md') {
    gap: rem(15);
  }

  &.is-active {
    & .top-solution__item-tag,
    & .top-solution__item-title,
    & .top-solution__item-text {
      opacity: 1;
      translate: 0 0;
    }
  }
}

.top-solution__item-tag,
.top-solution__item-title,
.top-solution__item-text {
  opacity: 0;
  translate: 10px 0;
  transition: opacity var(--duration-long) ease, translate var(--duration-long) ease;
  @include mq('md') {
    translate: 20px 0;
  }
}

.top-solution__item-tag {
  color: var(--main-color);
  font-family: var(--font-family-second);
  font-size: rem(17);
  font-weight: var(--font-weight-normal);
  letter-spacing: calc(1.36 / 17 * 1em);
  padding-left: rem(42);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: rem(27);
    height: rem(2);
    background: var(--gradient-color);
  }
}

.top-solution__item-title {
  font-size: rem(16);
  font-weight: var(--font-weight-bold);
  transition-delay: 0.05s;
}

.top-solution__item-title.top-solution__item-title--no-wrap {
  @media (max-width: 767px) {
    white-space: nowrap;
  }
}

.top-solution__item-text {
  font-size: rem(13);
  font-weight: var(--font-weight-normal);
  letter-spacing: calc(-0.13 / 13 * 1em);
  transition-delay: 0.1s;
}
