:root {
	--font-family-base: "Noto Sans JP", "Noto Sans", sans-serif;
	--font-family-second: "Noto Serif JP", "Noto Serif", serif;
}

:root {
	--font-weight-regular: 400;
	--font-weight-normal: 500;
	--font-weight-bold: 700;
}

:root {
	--black: #000;
	--white: #fff;
	--bg-color: #fff;
}

:root {
	--z-index-header: 100;
	--z-index-to-top: 200;
	--z-index-drawer: 1000;
	--z-index-modal: 10000;
}

body {
	color: #000;
	color: var(--black);
	font-family: "Noto Sans JP", "Noto Sans", sans-serif;
	font-family: var(--font-family-base);
}

.u-desktop {
	display: none;
}

/* リキッドレイアウト対応 */

html {
	font-size: 16px;
}

/* グローバルリセット */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* テキストサイズの調整をリセット */

html {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	scroll-behavior: smooth;
}

/* ボディの基本設定 */

body {
	word-wrap: anywhere;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-break: strict;
	line-height: 1.5;
	margin: 0;
	min-height: 100vh;
	text-rendering: optimizeLegibility;
	word-break: normal;
}

/* デフォルトの余白とパディングを削除 */

ul,
ol,
button,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
time,
small {
	margin: 0;
	padding: 0;
}

/* リストスタイルのリセット */

ul,
ol {
	list-style: none;
}

/* クラスなしのaタグにデフォルトのスタイルを適用 */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* インラインブロック要素 */

a,
span,
button {
	display: inline-block;
}

/* フォントとマージンのリセット */

small,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

address {
	font-style: normal;
}

/* 画像の調整 */

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/* 記事内の自然な余白を設定 */

article > * + * {
	margin-top: 1em;
}

/* フォーム要素のフォント継承 */

input,
button,
textarea,
select {
	font: inherit;
}

/* フォームのリセット */

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	outline: none;
}

textarea {
	resize: vertical;
}

/* チェックボックスとラジオボタンを非表示 */

input[type=checkbox],
input[type=radio] {
	-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	border: 0;
	clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* ボタンやラベルにカーソルを設定 */

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

/* IE用の選択ボックスアイコンを非表示 */

select::-ms-expand {
	display: none;
}

/* aタグのスタイルとトランジション */

a {
	-webkit-text-decoration: none;
	color: inherit;
	text-decoration: none;
	transition: 0.3s;
}

button {
	color: inherit;
}

/* ホバー時のカーソル設定 */

/* PCでtelリンクを無効化 */

/* タップ時のハイライトを透明に設定 */

a {
	-webkit-tap-highlight-color: transparent; /* リンクのハイライトを透明に */
}

button {
	-webkit-tap-highlight-color: transparent; /* ボタンのハイライトも透明に */
}

.inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

/* ===============================================
# フェードアニメーション：IntersectionObserver＆GSAP用
=============================================== */

/* フェード */

.js-fade-in {
	opacity: 0;
	transition: opacity 2s ease-out;
}

.js-fade-in.is-active {
	opacity: 1;
}

/* 上方向にスライド */

.js-fade-up {
	opacity: 0;
	transition: opacity 1.2s ease-out, translate 1.2s ease-out;
	translate: 0 50px;
}

.js-fade-up.is-active {
	opacity: 1;
	translate: 0 0;
}

/* 左方向にスライド */

.js-slide-left {
	opacity: 0;
	transition: opacity 1.2s ease-out, translate 1.2s ease-out;
	translate: -50px 0;
}

.js-slide-left.is-active {
	opacity: 1;
	translate: 0 0;
}

/* 下方向にスライド */

.js-fade-down {
	opacity: 0;
	transition: opacity 1.2s ease-out, translate 1.2s ease-out;
	translate: 0 -50px;
}

.js-fade-down.is-active {
	opacity: 1;
	translate: 0 0;
}

/* 右方向にスライド */

.js-slide-right {
	opacity: 0;
	transition: opacity 1.2s ease-out, translate 1.2s ease-out;
	translate: 50px 0;
}

.js-slide-right.is-active {
	opacity: 1;
	translate: 0 0;
}

.js-color-curtain {
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.js-color-curtain::after {
	background: linear-gradient(90deg, #89B564 0%, #1A90BD 100%);
	bottom: 0;
	content: "";
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleX(0);
	transform-origin: 0 50%;
	z-index: 2;
}

.js-color-curtain.is-active {
	animation: 1.2s forwards ease-in-out textView;
}

.js-color-curtain.is-active::after {
	animation: 1.2s forwards ease-in-out colorBox;
}

.js-scaleImg {
	overflow: hidden;
}

.js-scaleImg img {
	opacity: 0;
	scale: 1.2;
	transition: scale 1s ease, opacity 1s ease;
}

.js-scaleImg.is-active img {
	opacity: 1;
	scale: 1;
}

/* クリップパス */

.js-clip-img {
	overflow: hidden;
}

.js-clip-img img {
	-webkit-clip-path: inset(0 100% 0 0);
	clip-path: inset(0 100% 0 0);
	scale: 1.2;
	transition: scale 1.3s ease, -webkit-clip-path 1.3s ease;
	transition: scale 1.3s ease, clip-path 1.3s ease;
	transition: scale 1.3s ease, clip-path 1.3s ease, -webkit-clip-path 1.3s ease;
}

.js-clip-img.is-active img {
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
	scale: 1;
}

:root {
	--delay-1: 0.1s;
	--delay-2: 0.2s;
	--delay-3: 0.3s;
	--delay-4: 0.4s;
}

.--delay-1 {
	transition-delay: 0.1s;
	transition-delay: var(--delay-1);
}

.--delay-2 {
	transition-delay: 0.2s;
	transition-delay: var(--delay-2);
}

.--delay-3 {
	transition-delay: 0.3s;
	transition-delay: var(--delay-3);
}

.--delay-4 {
	transition-delay: 0.4s;
	transition-delay: var(--delay-4);
}

@media (any-hover: hover) {

a:hover {
	cursor: pointer;
}

}

@media screen and (min-width: 768px) {

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

html {
	font-size: 1.4545454545vw;
}

.inner {
	max-width: 1170px;
	padding-left: 35px;
	padding-right: 35px;
}

}

@media (min-width: 768px) {

a[href*="tel:"] {
	-webkit-text-decoration: none;
	cursor: default;
	pointer-events: none;
	text-decoration: none;
}

}

@media (min-width: 1100px) {

html {
	font-size: 16px;
}

}

@media (min-width: 1350px) {

nav a {
	letter-spacing: 0.14em;
}

}

@media (max-width: 768px) {

.--delay-1,
.--delay-2,
.--delay-3,
.--delay-4 {
	transition-delay: 0.2s;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}

@keyframes textView {

from {
	-webkit-clip-path: inset(0 100% 0 0);
	clip-path: inset(0 100% 0 0);
}

to {
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
}

}

@keyframes colorBox {

0%,50% {
	transform-origin: 0 50%;
}

60%,100% {
	transform-origin: 100% 50%;
}

60% {
	transform: scaleX(1);
}

100% {
	transform: scaleX(0);
}

}


/*# sourceMappingURL=style.css.map */
